:root {
  --ion-color-primary: #007355; 
  --ion-color-primary-rgb: 0, 115, 85;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #00654b;
  --ion-color-primary-tint: #1a8166;

  --ion-background-color: #1a1a1a; 
  --ion-background-color-rgb: 26, 26, 26;
  --ion-text-color: #ffffff;
  
  --ion-item-background: #333333; 
  --ion-card-background: #2a2a2a; 

  --amarillo-bet: #ffdf1b;   
  --gris-texto: #cccccc;  
  --verde-claro: #00a06a;     
}

ion-card {
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.5);
}